
@import url('https://fonts.googleapis.com/css?family=Hepta+Slab&display=swap');

body{
	margin:0;
	background-color: black;
}
header img{	
	width: 100%;
	
}
/* Thanh Menu */
#menu {
	position: fixed;
	display: flex;
	justify-content: space-evenly;
	width: 100%;
	height: 85px;
	z-index: 100;
	color: white;
	background-color: rgb(17, 18, 1, 0.2);
}
#menu a {
	text-decoration: none;
	color: white;
}
#menu nav {
	height:100px;
	text-align:center;
}
#menu nav ul {
	display:flex;
	justify-content:center;
}
#menu nav ul li {
	list-style:none;
	margin:10px 20px;
}
#menu i {
	font-size: 23px;
	margin-top: 30px;
}
#searchBox{
	position: fixed;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	width: 500px;
	height: 200px;
	background-color: rgb(17, 20, 2, 0.5);
	display: none;
	z-index: 5;
}
/* Div slide  */
.container{ 
	position: relative;
	height: 100vh;
	overflow: hidden;
}
.content{
	font-family: 'Hepta Slab', serif;
	position: absolute;
	transform: translate(-50%, -50%);
	top: 80%;
	left: 40%;
	font-size: 15px;
}
.text-1{
	animation: anima-1 2s;
	font-weight: bold;
	font-size: 20px;
	color: black;
}
.text-2{
	animation: anima-2 2s;
	color: blue;
}
.text-3 button{
	font-size: 20px;
	background: none;
	border: 2px solid red;
	border-radius: 25px;
}
#text-4{
	text-align: center;
	color: white;
}
.turn #turnRight{
	position: absolute;
	top: 50%;
	right: 10%;
	z-index: 1;
	font-size: 35px;
	border-radius: 50%;
	background-color: black;
	color: white;
	opacity: .5;
	padding: 5px;
}
.turn #turnLeft{
	position: absolute;
	top: 50%;
	left: 10%;
	z-index: 1;
	font-size: 35px;
	border-radius: 50%;
	background-color: black;
	color: white;
	opacity: .5;
	padding: 5px;
}
#toTop{
	position: fixed;
	bottom: 20px;
	right: 30px;
	background-color: red;
	color: white;
	padding: 10px;
	border-radius: 50%;
}
#menu-down {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
	height: 85px;
	color: white;
	background-color: rgb(17, 18, 1, 0.2);
}
#menu-down nav {
	height:100px;
	text-align:center;
}
#menu-down nav ul {
	display:flex;
	justify-content:center;
}
#menu-down nav ul li {
	
	font-size: 20px;
	color: blue;
	list-style:none;
	margin:10px 20px;
}
#menu-down a{
	text-decoration: none;
}
.footer{
	overflow: hidden;
	width: 100%;
}
.cart {
	width: 140%;
	max-height: 50px;
	display: inline-flex;
}
.cart .cart-child{
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 20%;
	height: 200px;
	overflow: hidden;
}
.cart .cart-child img{
	width: 100%;
	display: block;
	margin: auto;
}

